body {
	background-size: cover;
	color: black;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 18px;
	margin: 0;
	padding: 0p
}

.customerCreateGrid td {
	border: none;
}

.customerCreateGrid tr {
	border: none;
}

.ui-picklist-list {
	width: 100% !important;
}

.ui-wizard-content {
	min-height: 400px;
	padding-top: 20px;
}

.customerCreateGrid tr {
	border: none;
}

#loginDiv {
	margin-top: 33%;
	margin-left: 33%;
	height: 500px;
	width: auto;
}

#xlraMenu {
	margin-top: 100px;
}

#version {
	display: inline;
	margin-top: 20px;
	font-size: 32px;
	text-transform: uppercase;
	font-weight: bold;
	margin-top: 20px;
}

.labelColumn {
	width: 20%;
	font-weight: bold;
}

.valuesColumn {
	width: 80%;
}

.ui-row-editor {
	display: inline;
}