body {
	background-size: cover;
	color: black;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 18px;
	margin: 0;
	padding: 0p;
}

#container {
	background-color: #DBDBDB;
	opacity: 0.9;
	margin-left: auto;
	margin-right: auto;
	margin-top: 5%;
	width: 100%;
	margin-top: 0%;
	min-height: 35em;
	padding-bottom: 50px;
}

.customerCreateGrid td {
	border: none;
}

.customerCreateGrid tr {
	border: none;
}

.ui-wizard-content {
	min-height: 400px;
	padding-top: 20px;
}

.customerCreateGrid tr {
	border: none;
}

#loginDiv {
	margin-top: 33%;
	margin-left: 33%;
	height: 500px;
	width: auto;
}

#xlraMenu {
	margin-top: 100px;
}

#version {
	display: inline;
	margin-top: 20px;
	font-size: 32px;
	text-transform: uppercase;
	font-weight: bold;
	margin-top: 20px;
}

.labelColumn {
	width: 20%;
	font-weight: bold;
}

.valuesColumn {
	width: 80%;
}

.ui-row-editor {
	display: inline;
}

.ui-growl {
	z-index: 999999 !important;
}

.ui-picklist .ui-picklist-list {
	width: 12em !important;
}

.navButton {
	padding-left: 10px;
	padding-right: 10px;
	margin-right: 20px;
}

.navButton.ui-button {
	background-color: #d11174;
}